.home1 {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 94.499vh; /* Use 100vh to cover the full viewport height */
  width: 97.322vw;  /* Use 100vw to cover the full viewport width */

  padding: 20px;
  background-image: url('../images/Picture1.jpg');
  background-size: cover; /* Make the background image cover the entire element */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  background-position: center; /* Center the background image */
}


.header{
  margin-top: 1px;
  font-size: xx-large;
}
.center {
      height: 80%;
      // flex-grow: 1; /* Allow the center section to expand and fill the remaining space */
      display: flex;
      // justify-content: center;
      align-items: center;
      width: 70%; /* Adjust the width of the container as needed */
      padding: 20px;
      // border: 1px solid #2155CD;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      background-color: #fff;
      box-shadow: 
      0px 0px 10px rgba(0, 0, 0, 0.3),
      0px 4px 6px rgba(0, 0, 0, 0.2);
      margin: auto;
      margin-top: auto;
      margin-bottom: auto;
      background: rgba(255, 255, 255, 0.05);
      backdrop-filter: blur(10px);
      border-top: 1px solid rgba(255, 255, 255, 0.2);
      border-left: 1px solid rgba(255, 255, 255, 0.2);
      box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
      border-radius: 3px;
      flex-direction: column;
      background-image: url('../images/Picture1.jpg');

}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

li {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center children vertically */
  cursor: pointer;
  transition: transform 0.2s;
  margin-top: 40px;
  margin-bottom: auto;

  .icon {
    font-size: 100px; /* Increase the icon size */
  }

  span {
    margin-top: 10px;
    text-align: center; /* Center text */
    font-size: 14px;
    font-weight: bold;
  }
}

li:hover {
  transform: scale(1.1);
}

.logout {
  text-align: center;
  margin-top:auto;
  margin-bottom: auto;
  width: 90%;
  height: 10%;
}

.logout-button {
  background-color: #3652f4;
  color: white;
  border: none;
  padding: 2px 20px;
  cursor: pointer;
  width: 15%;
  height: 90%;
  margin-top: 20px;

  border-radius: 10px;
}
.logout-button .text {
  font-size: xx-large; /* Increase the font size of the button text */
}

.logout-button:hover {
  background-color: #372fd3;
}
