.view_room {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    background-image: url('../images/wallpaper3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 1;
    
    .view_room_form {
        width: 1000px; 
        padding: 30px;
        height: 510px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3), 0px 4px 6px rgba(0, 0, 0, 0.2);
        background: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(25px);
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        border-left: 1px solid rgba(255, 255, 255, 0.2);

        .view_room_header {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            font-size: x-large;
            text-align: center;
            font-size:large;
            margin-top: auto;
            margin-bottom: auto;
        }

        .view_room_box{
            border: none;
            padding: 10px;
            display: flex;
            flex-direction: row; 
            align-items: stretch;
            justify-content: space-between; 
            font-family:Arial, Helvetica, sans-serif;
            font-size: large;
        }

        .view_room_box1{
            flex: 1;
        }

        .view_room_box2{
            flex: 1;
        }

        .view_room_text{
            width: 90%;
            margin-bottom: 9px;
            padding: 10px;
            border: 2px solid #ccc;
            border-radius: 6px;
        }

        .view_room_button{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 10px;

            .viewroom_button{
                display: block;
                box-shadow:  0px 0px 10px rgba(0, 0, 0, 0.3), 0px 4px 6px rgba(0, 0, 0, 0.2);
                display: inline-block;
                padding: 10px 20px;
                font-size: 18px;
                font-weight: bold;
                text-align: center;
                text-decoration: none;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                background-color: #007BFF; 
                color: #fff; 
                transition: background-color 0.3s ease;
                
            }
        
            .viewroom_button:hover {
                background-color: #0056b3;
            }
        }
    } 
}

